#nprogress .bar {
  background: orangered !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px orange, 0 0 5px #29d !important;
}

#nprogress .spinner {
  display: none !important;
}
